@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;800;900&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Inter', sans-serif; */

.body-wrapper {
  background: url("./assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  width: 100%;
}

/*===================== HEADER STYLES ================*/
header * {
  font-family: "Roboto", sans-serif;
  color: white !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./assets/svg/menu_icon.svg");
}

header .navbar-nav .nav-link {
  color: white !important;
  font-weight: 700;
  font-size: 18px;
}

.btn-transparent {
  background-color: transparent !important;
  border: 2px solid #1da1f2;
  border-radius: 800px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
.navbar-toggler {
  font-size: 22px;
}
.discord-btn {
  background: #7289da;
  border: 2px solid #7289da;
  border-radius: 800px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.hero-header-wrapper {
  min-height: 100vh;
}
.fs-64 {
  font-size: 64px;
}

.fs-48 {
  font-size: 48px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.font-family-poppins {
  font-family: "Poppins";
}

/*======================= HERO SECTION STYLES =======================*/

.hero .left-hero h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  /* or 133% */
  color: #ffffff;
  line-height: 85px;
}

.hero .left-hero h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.hero .left-hero .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  text-align: center;
}

.detail {
  color: white !important;
  white-space: nowrap;
}

.hero .left-hero .title .active {
  color: #1da1f2;
}

.list-style-type-none {
  list-style-type: none;
}

@media (min-width: 300px) {
  .hero .left-hero h1 {
    font-size: 30px !important;
    line-height: 56px !important;
  }
}

@media (min-width: 768px) {
  .hero .left-hero h1 {
    font-size: 30px !important;
    line-height: 56px !important;
  }
}

@media (min-width: 992px) {
  .hero .left-hero h1 {
    font-size: 30px !important;
    line-height: 56px !important;
  }
  .left-hero {
    max-width: 408px;
    width: 100%;
  }

  .right-hero {
    max-width: 534px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero .left-hero h1 {
    font-size: 36px !important;
    line-height: 56px !important;
  }
  .left-hero {
    max-width: 470px;
    width: 100%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .left-hero {
    /* max-width: 100%; */
    width: 100%;
  }

  .right-hero {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .left-hero {
    max-width: 470px;
    width: 100%;
  }

  .right-hero {
    max-width: 550px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .hero .left-hero h1 {
    font-size: 40px !important;
    line-height: 56px !important;
  }
  .left-hero {
    max-width: 550px;
    width: 100%;
  }

  .right-hero {
    max-width: 600px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .hero .left-hero h1 {
    font-size: 50px !important;
    line-height: 85px;
  }
  .left-hero {
    max-width: 604px;
    width: 100%;
  }

  .left-hero {
    max-width: 550px;
    width: 100%;
  }

  .right-hero {
    max-width: 650px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .left-hero {
    max-width: 604px;
    width: 100%;
  }
  .right-hero {
    max-width: 752px;
    width: 100%;
  }
}
.overview-heading {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins";
}
.overview-para li {
  font-size: 20px;
  font-weight: 400;
  font-family: "inter";
}
.overview-para-2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "inter";
}
.learn-more {
  font-size: 16px;
  font-weight: 400;
  color: #1da1f2;
}
.wolves-card {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px 0px 5px 25px;
}
.wolves-card ul {
  padding-left: 0px;
}

/*==================== PLATEFORM SECTION STYLES ===================*/

.plateform-section .left-plateform {
  max-width: 722px;
  width: 100%;
}

.plateform-section .right-plateform {
  max-width: 509px;
  width: 100%;
}

/* TEAM SECTION STYLES */
.team-box {
  width: 323.49px;
}

/* FOOTER STYLES  */

.followtext {
  font-weight: 700;
  font-family: "Poppins";
  font-size: 48px;
  line-height: 53px;

  text-decoration-line: underline;

  color: #ffffff;
}

.community {
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 22px;
  /* identical to box height, or 140% */

  /* Front color/Description */

  color: #d1d1d1;
}
